html {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-size: 1rem;
}

h1, h2, h3 {
  color: #253347;
}

p {
  font-size: 16px;
  color: #5e6e85;
}

.main-container {
  margin-top: 266px;
}
.main-container .rectangle {
  position: absolute;
  width: 978px;
  height: 737px;
  left: 24px;
  top: -1px;
  background: linear-gradient(290.1deg, #D6E6FE 0%, rgba(214, 252, 254, 0) 100%);
  border-radius: 0px 0px 35px 35px;
  z-index: -10;
}
.main-container-content {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.main-container-content .logo {
  position: absolute;
  top: 0;
  margin-top: 75px;
}
.main-container-content-left {
  padding-right: 88px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-container-content-left h1 {
  font-size: 64px;
  font-weight: 800;
  font-style: italic;
  line-height: 110%;
  margin-bottom: 35px;
  letter-spacing: -3.2px;
}
.main-container-content-left p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.main-container-content-right .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 32px;
  width: 564px;
  background-color: #fff;
  box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
  border-radius: 16px;
}
.main-container-content-right h3 {
  color: #253347;
}
.main-container-content-right form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}
.main-container-content-right form .checkbox-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.main-container-content-right form .input-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px 24px;
}
.main-container-content-right form .input-container label {
  color: #5e6e85;
  font-size: 16px;
  line-height: 150%;
}
.main-container-content-right .result {
  display: flex;
  padding: 32px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: #345FF6;
  border-radius: 80px 999px 999px 80px;
  background: linear-gradient(90deg, #345FF6 0%, #587DFF 100%);
}
.main-container-content-right .result-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.main-container-content-right .result-content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}
.main-container-content-right .result h2 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.main-container-content-right .result h1 {
  color: #fff;
  font-size: 64px;
  font-style: italic;
  font-weight: 800;
  line-height: 110%;
  letter-spacing: -3.2px;
}
.main-container-content-right p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.main-container-content-right p span {
  font-weight: 700;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 18px;
}
.checkbox-group input[type=checkbox] {
  width: 31px;
  height: 31px;
  background-color: white;
  border-radius: 31px;
  vertical-align: middle;
  border: 2px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  transition: all 0.3s;
}
.checkbox-group input[type=checkbox]:checked {
  background-color: #d8e2e7;
}
.checkbox-group input[type=checkbox]:checked:before {
  content: "";
  left: 6px;
  top: 6px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  display: block;
  position: relative;
  background-color: #345FF6;
}
.checkbox-group label {
  color: #253347;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.input {
  display: flex;
  gap: 24px;
  border: 1px solid #D8E2E7;
  padding: 24px 20px;
  border-radius: 12px;
}
.input input[type=number] {
  color: #253347;
  font-size: 24px;
  font-weight: 600;
  border: transparent;
  width: 100%;
}
.input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.input input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input input[type=number]:active, .input input[type=number]:focus-visible, .input input[type=number]:focus {
  -webkit-appearance: none;
  outline: none !important;
}
.input span {
  position: relative;
  font-size: 24px;
  color: #345FF6;
  font-weight: 600;
  letter-spacing: -1.2px;
}

/*# sourceMappingURL=styles.css.map */
