$container-width: 1160px
    
$blue: #345FF6
$gunmetal: #253347
$dark-eletric-blue: #5e6e85
$borders: #d8e2e7
$pure-white: #FFFFFF

$heading-XL: 64px
$heading-L: 48px
$heading-M: 24px
$heading-S: 20px

$body-M: 16px
$body-S: 14px
