html {
  font-size: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-size: 1rem;
}

h1, h2, h3 {
  color: #253347;
}

p {
  font-size: 1rem;
  color: #5e6e85;
  font-weight: 400;
  line-height: 150%;
}

.pattern-left {
  display: block;
  position: absolute;
  width: 85px;
  height: 200px;
  left: 1074px;
  top: 689px;
}
@media (max-width: 1224px) {
  .pattern-left {
    display: none;
  }
}

.main-container {
  margin-top: 11.31rem;
  margin-bottom: 4.06rem;
}
@media (max-width: 992px) {
  .main-container {
    margin-top: 2rem;
    margin-bottom: 6rem;
  }
}
.main-container .rectangle {
  position: absolute;
  width: 58rem;
  height: 46rem;
  left: 24px;
  top: -1px;
  background: linear-gradient(290.1deg, #D6E6FE 0%, rgba(214, 252, 254, 0) 100%);
  border-radius: 0px 0px 35px 35px;
  z-index: -10;
}
@media (max-width: 992px) {
  .main-container .rectangle {
    width: 100%;
    height: 40rem;
    left: 0;
    top: 0;
  }
}
@media (max-width: 576px) {
  .main-container .rectangle {
    border-radius: 0rem 0rem 2.1875rem 2.1875rem;
  }
}
.main-container-content {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
@media (max-width: 992px) {
  .main-container-content {
    max-width: 42.8rem;
  }
}
@media (max-width: 576px) {
  .main-container-content {
    max-width: 20.5rem;
  }
}
@media (max-width: 992px) {
  .main-container-content {
    grid-template-columns: 1fr;
    gap: 2.5rem;
    align-content: center;
  }
}
.main-container-content .logo {
  position: absolute;
  top: 0;
  margin-top: 75px;
}
@media (max-width: 992px) {
  .main-container-content .logo {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
}
.main-container-content-left {
  padding-right: 88px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
@media (max-width: 992px) {
  .main-container-content-left {
    padding-right: 0;
    text-align: center;
    align-items: center;
  }
}
.main-container-content-left h1 {
  font-size: 64px;
  font-weight: 800;
  font-style: italic;
  line-height: 110%;
  letter-spacing: -0.15rem;
}
@media (max-width: 992px) {
  .main-container-content-left h1 {
    font-size: 48px;
    font-weight: 600;
    font-style: normal;
  }
}
.main-container-content-left p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}
.main-container-content-right .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 32px;
  background-color: #fff;
  box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
  border-radius: 16px;
}
@media (max-width: 576px) {
  .main-container-content-right .container {
    padding: 1.5rem;
  }
}
.main-container-content-right h3 {
  color: #253347;
}
.main-container-content-right form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}
.main-container-content-right form .checkbox-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.main-container-content-right form .input-container {
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 24px;
}
@media (max-width: 576px) {
  .main-container-content-right form .input-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.main-container-content-right form .input-container div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}
.main-container-content-right form .input-container div div {
  display: flex;
  flex-direction: row;
}
.main-container-content-right form .input-container label {
  color: #5e6e85;
  font-size: 1rem;
  line-height: 150%;
}
.main-container-content-right form .input-container-imperial {
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr;
  gap: 1rem 24px;
}
@media (max-width: 576px) {
  .main-container-content-right form .input-container-imperial {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.main-container-content-right form .input-container-imperial div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}
.main-container-content-right form .input-container-imperial div div {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.main-container-content-right form .input-container-imperial label {
  color: #5e6e85;
  font-size: 1rem;
  line-height: 150%;
}
.main-container-content-right form .hidden {
  display: none;
}
.main-container-content-right .result {
  display: flex;
  padding: 32px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: #345FF6;
  border-radius: 80px 999px 999px 80px;
  background: linear-gradient(90deg, #345FF6 0%, #587DFF 100%);
}
@media (max-width: 576px) {
  .main-container-content-right .result {
    padding: 2rem;
    border-radius: 1rem;
  }
}
.main-container-content-right .result-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 24px;
}
@media (max-width: 576px) {
  .main-container-content-right .result-content {
    grid-template-columns: 1fr;
  }
}
.main-container-content-right .result-content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}
.main-container-content-right .result h2 {
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.main-container-content-right .result h1 {
  color: #fff;
  font-size: 64px;
  font-style: italic;
  font-weight: 800;
  line-height: 110%;
  letter-spacing: -3.2px;
}
.main-container-content-right .result .hidden {
  display: none;
}
.main-container-content-right .hidden {
  display: none;
}
.main-container-content-right p {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
}
.main-container-content-right p span:last-child {
  font-weight: 700;
}

.your-result {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 8.19rem;
  margin-bottom: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  gap: 8.19rem;
}
@media (max-width: 992px) {
  .your-result {
    max-width: 42.8rem;
  }
}
@media (max-width: 576px) {
  .your-result {
    max-width: 20.5rem;
  }
}
@media (max-width: 576px) {
  .your-result {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 992px) {
  .your-result {
    gap: 4.69rem;
  }
}
.your-result .man-eating img {
  width: 100%;
}
.your-result-content {
  padding: 40px 0;
}
@media (max-width: 992px) {
  .your-result-content {
    text-align: start !important;
    padding: 0;
  }
}

.tips {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(290.1deg, rgba(214, 230, 254, 0.25) 0%, rgba(214, 252, 254, 0) 100%);
  border-radius: 2.1875rem;
  margin: 0 1.5rem 7.5rem 1.5rem;
}
@media (max-width: 992px) {
  .tips {
    margin: 0 0 6rem 0;
    border-radius: 0;
  }
}
.tips-content {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 72px 0 96px 0;
  display: flex;
  flex-direction: row;
  gap: 32px;
}
@media (max-width: 992px) {
  .tips-content {
    max-width: 42.8rem;
  }
}
@media (max-width: 576px) {
  .tips-content {
    max-width: 20.5rem;
  }
}
@media (max-width: 992px) {
  .tips-content {
    flex-direction: column;
    gap: 2.5rem;
  }
}

.bmi-limitations {
  margin-bottom: 7.5rem;
}
@media (max-width: 992px) {
  .bmi-limitations {
    margin-bottom: 5.99rem;
  }
}
.bmi-limitations-content {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  display: grid;
  grid-template-areas: "container container container . gender gender" ". . age age muscle muscle" ". pregnancy pregnancy race race .";
  gap: 2rem;
}
@media (max-width: 992px) {
  .bmi-limitations-content {
    max-width: 42.8rem;
  }
}
@media (max-width: 576px) {
  .bmi-limitations-content {
    max-width: 20.5rem;
  }
}
@media (max-width: 992px) {
  .bmi-limitations-content {
    grid-template-areas: "container container container container" "gender gender age age" "muscle muscle pregnancy pregnancy" ". race race .";
  }
}
@media (max-width: 576px) {
  .bmi-limitations-content {
    gap: 1rem;
    grid-template-areas: "container" "gender" "age" "muscle" "pregnancy" "race";
  }
}
.bmi-limitations-content .container {
  padding-bottom: 3rem;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-area: container;
}
@media (max-width: 992px) {
  .bmi-limitations-content .container {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .bmi-limitations-content .container {
    padding-bottom: 2.5;
  }
}
.bmi-limitations-content #card-4 {
  grid-area: gender;
}
.bmi-limitations-content #card-5 {
  grid-area: age;
}
.bmi-limitations-content #card-6 {
  grid-area: muscle;
}
.bmi-limitations-content #card-7 {
  grid-area: pregnancy;
}
.bmi-limitations-content #card-8 {
  grid-area: race;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 18px;
}
.checkbox-group input[type=checkbox] {
  width: 31px;
  height: 31px;
  background-color: white;
  border-radius: 31px;
  vertical-align: middle;
  border: 2px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  transition: all 0.3s;
}
.checkbox-group input[type=checkbox]:hover {
  border: 2px solid #345FF6;
}
.checkbox-group input[type=checkbox]:checked {
  background-color: #d8e2e7;
}
.checkbox-group input[type=checkbox]:checked:before {
  content: "";
  left: 6px;
  top: 6px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  display: block;
  position: relative;
  background-color: #345FF6;
}
.checkbox-group input[type=checkbox]:checked:before:hover {
  border: transparent;
}
.checkbox-group label {
  color: #253347;
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
}

.input {
  display: flex;
  gap: 24px;
  border: 1px solid #D8E2E7;
  padding: 24px 20px;
  border-radius: 12px;
  transition: all 0.2s;
}
.input:hover {
  border: 1px solid #345FF6;
  cursor: pointer;
}
.input input[type=number] {
  color: #253347;
  font-size: 24px;
  font-weight: 600;
  border: transparent;
  width: 100%;
}
.input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.input input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input input[type=number]:active, .input input[type=number]:focus-visible, .input input[type=number]:focus {
  -webkit-appearance: none;
  outline: none !important;
}
.input span {
  position: relative;
  font-size: 24px;
  color: #345FF6;
  font-weight: 600;
  letter-spacing: -1.2px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 45px;
}
@media (max-width: 992px) {
  .card {
    flex-direction: row;
    gap: 2.5rem;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .card {
    flex-direction: column;
    align-items: flex-start;
  }
}
.card-icon {
  width: 64px;
  height: 64px;
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.card-content h3 {
  color: #253347;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1.2px;
}
.card-secondary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
}
.card-secondary-top {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.card-secondary-top img {
  width: 2rem;
  height: 2rem;
}
.card-secondary-top h3 {
  color: #253347;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1.2px;
}

.article-content {
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: end;
  align-items: flex-start;
}
@media (max-width: 992px) {
  .article-content {
    gap: 2rem;
    text-align: center;
    align-items: center;
  }
}
.article-content h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -2.4px;
}
@media (max-width: 992px) {
  .article-content h2 {
    font-size: 2rem;
    letter-spacing: -0.1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
